#container-all-game{

}
#game-body-container{
background-color: blue;
display: flex;
justify-content: space-evenly;
height: 680px;
}
#game-body-container>.game-play{
   width: 960px;
   height: 680px; 
 background-image: url(../img/fondo.jpg);
 background-size: contain;
}
#game-body-container>.scores{
    background-color: sandybrown;
    width: 380px;
    height: 680px;
 }