#container-all-game {}

#game-body-container {
   background-color: blue;
   display: flex;
   justify-content: space-evenly;
   height: 680px;
}

#game-body-container>.game-play {
   width: 960px;
   height: 680px;
   background-image: url(../img/fondo.jpg);
   background-size: contain;
   overflow-x: hidden;
}

#game-body-container>.scores {
   background-color: sandybrown;
   width: 380px;
   height: 680px;
}

.nubes-container {
   height: 262px;
   width: 1920px;
   display: flex;
   
}

.nubes-container>div>img:nth-child(1) {
   position: relative;
   left: 594px;
   top: 13px;
}

.nubes-container>div>img:nth-child(2) {
   top: 147px;
   left: -174px;
   width: 144px;
   position: relative;
}

.nubes-container>div>img:nth-child(3) {
   width: 304px;
   position: relative;
   top: 116px;
   left: 17px;
}

.nubes-container>div>img:nth-child(4) {
   width: 304px;
   position: relative;
   top: -96px;
   left: 1px;
}