* {
   margin: 0px;
}

#container-all-game {
   width: 1024px;
   height: 600px;
   background-color: black;
   margin: 0 auto;
}

#game-body-container {
   display: flex;
}

.game-play {
   width: 770px;
   background-image: url(../img/fondo.jpg);
   background-size: contain;
   height: 500px;
   overflow-x: hidden;
}

.farmer {
   height: 500px;
   width: 254px;
   background-color: green;
}

#score {
   width: 1024px;
   height: 100px;
   background-color: yellow;
}

.nubes-container {
   width: 1540px;
   height: 190px;
   display: flex;
}

.nubes-container>div {
   width: 770px;
   height: 190px;
}

.nubes-container>div>img {
   position: relative;
}

.nubes-container>div>img:nth-child(1) {
   left: 510px;
   top: 13px;
   width: 174px;
}

.nubes-container>div>img:nth-child(2) {
   top: 102px;
   left: -109px;
   width: 92px;
}

.nubes-container>div>img:nth-child(3) {
   width: 257px;
   top: 102px;
   left: 121px;
}

.nubes-container>div>img:nth-child(4) {
   width: 257px;
   top: -77px;
   left: 1px;
}

.zorros-container {
   margin: 0px;
   height: 346px;
   margin-top: -16%;
   position: relative;
   width: 770px;
}

.zorros-container>div {
   position: absolute;
}

.zorros-container>div>img {
   max-width: 100%;
   -webkit-animation: rotation 5s infinite linear;
}

@-webkit-keyframes rotation {
   from {
      -webkit-transform: rotate(0deg);
   }

   to {
      -webkit-transform: rotate(359deg);
   }
}